<!DOCTYPE html>
<html>
	<head>

		<script
		src="https://code.jquery.com/jquery-1.12.3.min.js"
		integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
		crossorigin="anonymous">
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<title>GifTime</title>

		<link rel="stylesheet" href="../public/stylesheets/style.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<div class="container-fluid" id="gifBox">
			<H2>It's Gif Time</H2>

			<div id="updates">
				<i class="fa fa-users"></i>
				<span class="count">0</span>
			</div>
		
			<form id="gifSubmit">
				<input class="form-control" placeholder="Gif Search Phrase" type="text" id="query">
				<button type="submit"></button>
			</form>
		</div>

		<script src="../public/javascripts/global.js"></script>
	</body>
</html>